[package]
name = "circular-buffer"
version = "0.1.8"
authors = ["Andrea Corbellini <corbellini.andrea@gmail.com>"]
edition = "2021"
rust-version = "1.65"
license = "BSD-3-Clause"

description = "Efficient, fixed-size, overwriting circular buffer"
repository = "https://github.com/andreacorbellini/rust-circular-buffer"

keywords = ["circular-buffer", "buffer", "queue", "fifo", "small"]
categories = ["data-structures", "no-std"]

[features]
default = ["std"]

alloc = []
std = ["alloc"]

# Deprecated in favor of `std`
use_std = ["std"]

unstable = []

[dependencies]
embedded-io = { version = "0.6", default-features = false, optional = true }
embedded-io-async = { version = "0.6", default-features = false, optional = true }

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
drop-tracker = { version = "0.1.3" }
rand = { version = "0.8" }
smol = { version = "2.0", default-features = false }

[[bench]]
name = "benchmark"
harness = false
