[package]
name = "circular-buffer"
version = "0.1.7"
authors = ["Andrea Corbellini <corbellini.andrea@gmail.com>"]
edition = "2021"
rust-version = "1.65"
license = "BSD-3-Clause"

description = "Efficient, fixed-size, overwriting circular buffer"
repository = "https://github.com/andreacorbellini/rust-circular-buffer"

keywords = ["circular-buffer", "buffer", "queue", "fifo", "small"]
categories = ["data-structures", "no-std"]

[features]
default = ["use_std"]
use_std = ["alloc"]
alloc = []
unstable = []

[dependencies]

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
drop-tracker = { version = "0.1.3" }
rand = { version = "0.8" }

[[bench]]
name = "benchmark"
harness = false
